<h1>Listing prd_etcs</h1>

<table>
  <tr>
  </tr>

<% @prd_etcs.each do |prd_etc| %>
  <tr>
    <td><%= link_to 'Show', prd_etc %></td>
    <td><%= link_to 'Edit', edit_prd_etc_path(prd_etc) %></td>
    <td><%= link_to 'Destroy', prd_etc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prd_etc', new_prd_etc_path %>