<p>
  <b>Name:</b>
  <%=h @code_factor.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @code_factor.code_id %>
</p>


<%= link_to 'Edit', edit_code_factor_path(@code_factor) %> |
<%= link_to 'Back', code_factors_path %>