<p>
  <b>Subfctr name:</b>
  <%=h @what_custom.subfctr_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @what_custom.description %>
</p>


<%= link_to 'Edit', edit_what_custom_path(@what_custom) %> |
<%= link_to 'Back', what_customs_path %>