<p>
  <b>Number:</b>
  <%=h @who_number_factor.number %>
</p>

<p>
  <b>Who number:</b>
  <%=h @who_number_factor.who_number_id %>
</p>


<%= link_to 'Edit', edit_who_number_factor_path(@who_number_factor) %> |
<%= link_to 'Back', who_number_factors_path %>