<h1>New ocs_rating_factor</h1>

<% form_for(@ocs_rating_factor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', ocs_rating_factors_path %>