<p>
  <b>Subfctr name:</b>
  <%=h @what_urlgroup.subfctr_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @what_urlgroup.description %>
</p>


<%= link_to 'Edit', edit_what_urlgroup_path(@what_urlgroup) %> |
<%= link_to 'Back', what_urlgroups_path %>