<p>
  <b>Fidl1:</b>
  <%=h @test_test.fidl1 %>
</p>

<p>
  <b>Fld2:</b>
  <%=h @test_test.fld2 %>
</p>


<%= link_to 'Edit', edit_test_test_path(@test_test) %> |
<%= link_to 'Back', test_tests_path %>